/*--------Global----*/
*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
html{
	font-family: circular std,sans-serif;
	font-weight: 100;
}
body {
	width: 60%;
	margin: auto;
	background-image: url(F:\WEB_DEVLOPMENT\portfolio\images\BG.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
}
.blue{
	color: #027BFF;
}
h1{
	font-size: 40px;
	font-weight: 400;
	color: #17191A;
}
h2{
	font-size: 35px;
	font-weight: 400;
	color: #17191A;
}
h5{
	font-size: 20px;
	margin-top: 10px;
	color: #17191A;
}
p{
	color: #8F9EA5;
	opacity: 0.8;
	font-weight: 100;
	margin-top: 10px;
	font-size: 20px;
}



/*--------------nav--------------------*/

.nav{
	display: flex;
	align-items: center;
	height: 100px;
}
.contactMe,.navicons{
	flex: 1;
}
.navicons{
	text-align: right;
}
.navicons a, .contactMe a, .contactMe img{
	display: inline-block;
	vertical-align: middle;
}
.navicons a{
	margin-left: 40px;
}
.contactMe a{
	color: #0278FF;
	text-decoration: none;
}
.contactMe img{
	margin-right: 10px;
}

/*--------Landing---------------*/
.landing{
	height: 100vh;
	position: relative;
}
.landingwrapper{
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
ul{
	list-style: none;
	margin-top: 30px;
	line-height: 30px;
}
.landingL{
	margin-top: 4em;
}
.scroll{
	position: absolute;
	bottom: 180px;
	left: 0;
	right: 0;
	margin: auto;
}



/*--------work 01---------------*/
.work
{
	width: 100%;
	position: relative;
	margin-bottom: 20em;
}
.work > .worktext{
	position: absolute;
	top: 85;
}
.work >.worktext >.underline{
	display: block;
	background-color: #027BFF;
	height: 3px;
	width: 61px;
	margin-top: 5px;
}
.work > .workimg{
	
}

